#categories {
    padding: 6em 0;
    text-align: center;
    background-color: $color-gray2;
    h2 {
      margin-bottom: 20px;
      font-size: 18px;
      font-family: WorkSansSemiBold;
      color: $color-gray4;
    }
    h3 {
      font-size: 36px;
      font-family: workSansBold;
      margin: 0 auto 15px;
    }
    p {
        margin-bottom: 1.5em;
        font-size: 20px;
    }
    .row {
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 2em 0 0;
      @include tablet {
        justify-content: space-between;
        margin: 4em 4em 0;
      }
      & > div:nth-of-type(1) i {
        background-image: url(/images/categories/icon_adventure.png);
      }
      & > div:nth-of-type(2) i {
        background-image: url(/images/categories/icon_benefit.png);
      }
      & > div:nth-of-type(3) i {
        background-image: url(/images/categories/icon_gastronomia.png);
      }
      & > div:nth-of-type(4) i {
        background-image: url(/images/categories/icon_funny.png);
      }
      & > div:nth-of-type(5) i {
        background-image: url(/images/categories/icon_pickup.png);
      }
      h3 {
        padding: 4px;
        font-size: 16px;
        font-family: WorkSansSemiBold;
        i {
          width: 23px;
          height: 23px;
          display: inline-block;
          position: relative;
          top: 4px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      img {
        max-width: 150px;
        border-radius: 8px;
        @include tablet {
          max-width: 170px;
        }
      }
    }
    .xs-visible {
      display: block;
      width: 100%;
      margin: 15px 0;
      @include tablet {
          display: none;
      }
    }
}