#clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3em 2em 1em;
    @include tablet {
      padding: 4em 1.5em;
    }
    > div {
      margin-bottom: 25px;
      width: calc(1/2*100% - (1 - 1/2)*100px);
      @include tablet {
        margin-bottom: 10px;
        width: calc(1/4*100% - (1 - 1/4)*100px);
      }
      @include desktop-small {
        & {
          width: calc(1/4*100% - (1 - 1/4)*150px);
        }
      }
      
      img {
        width: 100%;
      }
    }
  }