#platform {
    padding-top: 2em;
    padding-bottom: 5em;
    h2 {
        margin-bottom: 20px;
        font-size: 18px;
        font-family: WorkSansSemiBold;
        color: $color-gray4;
    }
    h3 {
      font-size: 36px;
      font-family: workSansBold;
      margin: 0 auto 15px;
      @include laptop {
        font-size: 46px;
      }
    }
    .description {
        margin-bottom: 1.5em;
        font-size: 18px;
        text-align: justify;
    }
    .divider {
        border-bottom: 1px solid $color-gray3;
        width: 120px;
        height: 1px;
        display: inline-block;
        margin: 1.5em 0;
        opacity: 0;
        @include tablet {
            margin: 2em 0;
            opacity: 1;
        }
    }
    img {
        max-width: 100%;
        margin-bottom: 2em;
    }
    p {
        font-size: 14px;
        text-align: justify;
        @include tablet {
            padding-right: 3em;
        }
    }
    .platform-items {
        b {
            font-family: WorkSansSemiBold;
        }
        a {
            color: $color-green;
            text-decoration: underline;
            font-family: WorkSansSemiBold;
            transition: color 0.5s;
            &:hover {
                color: $color-black3;
            }
        }
    }
    .xs-hidden {
        display: none;
        @include tablet {
            display: inline-block;
        }
    }
    .xs-visible {
        display: inline-block;
        width: 100%;
        @include tablet {
            display: none;
        }
    }
}