#results {
    padding-top: 4em;
    text-align: center;
    @include tablet {
        padding: 6em 0;
    }

    h3 {
        padding: 15px 0 0;
        color: $color-green;
        font-size: 45px;
        font-family: WorkSansSemiBold;
        @include tablet {
            font-size: 30px; 
        }
    }

    img {
        height: 60px;
    }

    p {
        margin-bottom: 3em;
        font-size: 20px;
        @include tablet {
            margin-bottom: 0;
            font-size: 14px; 
        }
    }
}