#support {
    padding: 2em 0;
    @include tablet {
        padding: 6em 0;
    }
    background-color: $color-gray2;
    h2 {
        margin-bottom: 20px;
        font-size: 18px;
        font-family: WorkSansSemiBold;
        color: $color-gray4;
    }
    h3 {
      font-size: 36px;
      font-family: workSansBold;
      margin: 0 auto 15px;
      @include laptop {
        font-size: 46px;
      }
    }
    .description {
        margin-bottom: 1.5em;
        font-size: 18px;
        text-align: justify;
        @include tablet {
            padding-right: 3em;
        }
    }
    .sub-description {
        font-size: 15px;
        text-align: justify;
        @include tablet {
            padding-right: 3em;
        }
    }
    img {
        max-width: 100%;
        height: 350px;
        margin-bottom: 2em;
    }
    .section-image {
        order: 1;
        text-align: center;
        @include tablet {
            order: 0;
            text-align: left;
        }
    }
}