#point-sell {
    padding-top: 3.5em;
    padding-bottom: 0;
    @include tablet {
        padding-top: 2em;
        padding-bottom: 5em;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 18px;
        font-family: WorkSansSemiBold;
        color: $color-gray4;
    }
    h3 {
      font-size: 36px;
      font-family: workSansBold;
      margin: 0 auto 15px;
      @include laptop {
        font-size: 46px;
      }
    }
    .description {
        margin-bottom: 1.5em;
        font-size: 18px;
        text-align: justify;
        @include tablet {
            padding-right: 3em;
        }
    }
    .sub-description {
        font-size: 15px;
        text-align: justify;
        @include tablet {
            padding-right: 3em;
        }
    }
    h5 {
        color: $color-green;
        font-family: WorkSansSemiBold;
        i {
            width: 20px;
            height: 20px;
            display: inline-block;
            position: relative;
            top: 3px;
            padding-right: 25px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(./../images/icons/ubicacion.png);
        }
    }
    img {
        max-width: 100%;
        height: 350px;
        margin-bottom: 2em;
    }
    .btn-main {
        margin-bottom: 3em;
        width: 100%;
        @include tablet {
            width: auto;
        }
    }
    .xs-hidden {
        display: none;
        @include tablet {
            display: block;
        }
    }
}