@mixin mobile {
    @media #{$mobile} {
        @content;
    }
}
  
@mixin tablet {
    @media #{$tablet} {
      @content;
    }
}
  
@mixin laptop-small {
    @media #{$laptop-small} {
      @content;
    }
}
  
@mixin laptop {
    @media #{$laptop} {
      @content;
    }
}
  
@mixin desktop-small {
    @media #{$desktop-small} {
      @content;
    }
}
  
@mixin desktop {
    @media #{$desktop} {
      @content;
    }
}
  
  // generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $size $color;
        -moz-box-shadow:inset $top $left $blur $size $color;
        box-shadow:inset $top $left $blur $size $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $size $color;
        -moz-box-shadow: $top $left $blur $size $color;
        box-shadow: $top $left $blur $size $color;
    }
}

@mixin font-face($name, $url) {
    @font-face {
        font-family: $name;
        src: url($url) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

