$color-black: #000000;
$color-black2: #333333;
$color-black3: #656565;
$color-green: #3CA868;
$color-white: #FFFFFF;
$color-white-semi-transparent: #f8f9faf7;
$color-shadow1: rgba(0, 0, 0, 0.5);
$color-shadow2: #FFFFFF;
$color-gray1: #B0AFB0;
$color-gray2: #F2F3F5;
$color-gray3: #D8D8D8;
$color-gray4: #5B5B5B;
$color-gray5: #D4D4D4;
$color-transparent: transparent;

$mobile: "(min-width: 425px)";
$tablet: "(min-width: 768px)";
$laptop-small: "(min-width: 992px)";
$laptop: "(min-width: 1024px)";
$desktop-small: "(min-width: 1200px)";
$desktop: "(min-width: 1441px)";
$font-weeare-Light: 'workSansLight';
$font-weeare-SemiBold: 'WorkSansSemiBold';
$font-weeare-Bold: 'workSansBold';