.btn-main {
    background-color: $color-black;
    color: $color-green;
    min-width: 130px;
    height: 46px;
    font-family: WorkSansSemiBold;
    transition: color 0.5s;
    line-height: 2;
    &:hover {
      color: $color-white;
    }
  }