html, body {
    font-family: $font-weeare-Light;
    min-width: 320px;
}

b, .bold {
    font-family: workSansBold;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.semi-bold {
    font-family: workSansSemiBold;
}

.title {
    padding-bottom: 2em;
    margin: 0 auto 15px;
    font-size: 40px;
    font-family: workSansBold;
    text-align: center;
}