.login-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
    margin-top: 100px;
    background: $color-white;
    @include tablet {
      width: 75%;
      position: relative;
      padding: 40px 25px 30px;
      margin-top: 0;
      background-color: $color-white;
      border-radius: 7px;
      @include box-shadow(0, 1px, 5px, 0, $color-shadow1, false);
    }
    span {
      position: absolute;
      top: -84px;
      right: 5em;
      width: 81px;
      height: 84px;
      overflow: hidden;
      @include box-shadow(0, 0, 10px, -14px, $color-shadow1, false);
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: $color-white;
        transform: rotate(45deg);
        top: 75px;
        right: 0;
        @include box-shadow(-1px, -1px, 10px, -2px, $color-shadow1, false);
      }
    }

    h4 {
      margin-bottom: 2em;
      font-size: 1rem;
      text-transform: uppercase;
      color: #949494;
    }

    input {
      border: none;
      border-bottom: 2px solid $color-gray1;
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 18px;
      outline: none;
      border-radius: 0;
    }

    button {
      text-align: left;
      padding-left: 20px;
      font-size: 22px;
      line-height: 1.8;
      height: 60px;
      @include tablet {
        height: 50px;
        font-size: 18px;
      }
      & i {
        width: 20px;
        height: 20px;
        float: right;
        position: relative;
        top: 7px;
        right: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./../images/icons/icon_arrow.png)
      }
    }
  }